<h1>Welcome to MJ's </h1>
<section id="catalog">
  <div class="items">
    <h2>CHECK OUT OUR CAKES</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC3srPpkU9nvuBv3XV7ykhEE4j_6CIvOJOAUZrZK4pIuMx59hU" alt="This should be cakes">
  </div>
  <div class="items">
    <h2>CHECK OUT OUR COOKIES</h2>
    <img src="http://whatsgabycooking.com/wp-content/uploads/GA9A1535.jpg" alt="This should be cookies">
  </div>
  <div class="items">
    <h2>CHECK OUT OUR MUFFINS</h2>
    <img src="https://smittenkitchendotcom.files.wordpress.com/2010/08/perfect-blueberry-muffins.jpg?w=750" alt="This should be muffins">
  </div>
</section>
