<h1>Welcome to Papito's Pastries</h1>
<section id="catalog">
  <div class="items">
    <a class="link" href="cakes">
      <h2>CHECK OUT OUR CAKES</h2>
    </a>
    <a href="cakes">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC3srPpkU9nvuBv3XV7ykhEE4j_6CIvOJOAUZrZK4pIuMx59hU" alt="This should be cakes">
    </a>
  </div>
  <div class="items">
    <a class="link" href="cookies">
      <h2>CHECK OUT OUR COOKIES</h2>
    </a>
    <a href="cookies">
      <img src="http://whatsgabycooking.com/wp-content/uploads/GA9A1535.jpg" alt="This should be cookies">
    </a>
  </div>
  <div class="items">
    <a class="link" href="muffins">
      <h2>CHECK OUT OUR MUFFINS</h2>
    </a>
    <a class="link" href="muffins">
      <img src="https://smittenkitchendotcom.files.wordpress.com/2010/08/perfect-blueberry-muffins.jpg?w=750" alt="This should be muffins">
    </a>
  </div>
</section>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
