<h1>Welcome to Papito's Pastries</h1>
<section class="catalog">
  <div class="items">
    <a class="link" href="cakes">
      <h2>CHECK OUT OUR CAKES</h2>
    </a>
    <a href="cakes">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC3srPpkU9nvuBv3XV7ykhEE4j_6CIvOJOAUZrZK4pIuMx59hU" alt="This should be cakes">
    </a>
  </div>
  <div class="items">
    <a class="link" href="cookies">
      <h2>CHECK OUT OUR COOKIES</h2>
    </a>
    <a href="cookies">
      <img src="http://whatsgabycooking.com/wp-content/uploads/GA9A1535.jpg" alt="This should be cookies">
    </a>
  </div>
  <div class="items">
    <a class="link" href="muffins">
      <h2>CHECK OUT OUR MUFFINS</h2>
    </a>
    <a class="link" href="muffins">
      <img src="https://smittenkitchendotcom.files.wordpress.com/2010/08/perfect-blueberry-muffins.jpg?w=750" alt="This should be muffins">
    </a>
  </div>
</section>
<section id="about">
  <div id="history">
    <h2>Our History</h2>
    <p>In 1997, Papito's Pastries opened its first location on a quiet street corner at 85 Broad Street in the Financial District.
       From its inception, Papito's Pastries has been cherished for its classic American baked goods, vintage decor and warm, inviting atmosphere.
        In 2019, Papito's Pastries’s original owner passed his oven mitts to Jimmy Tan and Billy Chen. Together, they have thoughtfully expanded the bakery from its first FiDi shop to locations worldwide.
         Today, Papito's Pastries can be found in New York City, Los Angeles, Chicago, Boston, Washington, D.C., Mexico City, Seoul, Dubai, Riyadh, Amman, Abu Dhabi, Manila and Doha.</p>
  </div>
  <div id="founder">
    <h2>Our Founder</h2>
    <img src="https://media.licdn.com/dms/image/C4D03AQF7HUtEfTTAMw/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=Jo-maqNW-KrmzjCQG3vpxfaXXRemK9gZK2ziNrmBZpk" alt="">
    <h2><a class="link" href="https://www.linkedin.com/in/kennycuzco/">Kenny Cuzco</a></h2>
  </div>
</section>
<footer>
  <form action="/thanks" method="get">
    <label>Enter your email to receive our catalog</label><br>
    <input id="in" type="text" name="email" placeholder="Enter your email">
    <input type="submit" value="Submit">
  </form>
</footer>
