<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Papito's Pastries</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="cover">
    </div>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="cakes">CAKES</a></li>
      <li><a href="cookies">COOKIES</a></li>
      <li><a href="muffins">MUFFINS</a></li>
      <li><a href="events">EVENTS</a></li>
    </ul>
    <%= yield %>
  </body>
  <% if request.path == "/thanks" %>
  <footer style="display:none">
  <% else %>
  <footer>
  <% end %>
    <form action="/thanks" method="get">
      <label>Enter your email to receive our catalog</label><br>
      <input id="in" type="text" name="email" placeholder="Enter your email">
      <input type="submit" value="Submit">
    </form>
  </footer>
</html>

<!-- to send email:
open irb
require sinatra
require action_mailer
create folder called newsletter
create 2 files, *.html.erb, *.text.erb
* is placeholder for name, name must be same for each file
https://guides.rubyonrails.org/action_mailer_basics.html skip first box
create class ApplicationMailer <ActionMailer::base
default from: "from@example.com"
def (whatever you named files.html and .text)
newsletter.*.
 -->
